.*              # ignore all hidden files and folders
~$*			    # ignores any file starting with ~	
!/.gitignore    # explicitly do not ignore .gitignore

# Excel
*.xls
*.xlsx
*.xlsm
*.xlsb
*.csv
*.hdf
*.h5
*.log

# Jupyter Notebook
.ipynb_checkpoints